.section__padding {
    padding: 4rem 4rem;
  }
  
  .footer {
    background-color: white;
    margin-top: 30px;
    font-family: '__Inter_e66fe9', '__Inter_Fallback_e66fe9';
  }
  
  .sb__footer {
    display: flex;
    flex-direction: column;
  }
  
  .sb__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
    font-family:monospace;
  }
  
  .sb__footer-links-div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: black;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-size: 16px;
  }
  
  a:hover {
    transform: scale(1.03);
  }
  
  .social-media {
    display: flex;
    flex-direction: row;
  }
  
  .social-icon {
    margin-right: 10px;
  }
  
  .social-icon:hover {
    color: #0077be;
  }
  
  .sb__footer-links-div h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0.9rem;
    color: black;
    font-weight: 500;
  }
  
  .sb__footer-links-div a {
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
  }
  
  .sb__footer-below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  .sb__footer-below-links {
    display: flex;
    flex-direction: row;
  }
  
  .sb__footer-below-links p {
    font-size: 13px;
    line-height: 15px;
    margin-left: 2rem;
    color: black;
    font-weight: 600;
  }
  
  hr {
    color: black !important;
    width: 100%;
  }
  
  .sb__footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    color: black;
    font-weight: 600;
  }
  
  @media screen and (max-width: 850px) {
    .sb__footer-heading h1 {
      font-size: 44px;
      line-height: 50px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .sb__footer-heading h1 {
      font-size: 34px;
      line-height: 42px;
    }
    .sb__footer-links-div {
      margin: 1rem 0;
    }
    .sb__footer-btn p {
      font-size: 14px;
      line-height: 20px;
    }
    .sb__footer-below {
      flex-direction: column;
      justify-content: left;
    }
    .sb__footer-below-links {
      flex-direction: column;
    }
    .sb__footer-below-links p {
      margin-left: 0rem;
      margin-top: 1rem;
    }
    .sb__footer-below-links a{
        width: 100%;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sb__footer-heading h1 {
      font-size: 27px;
      line-height: 38px;
    }
  }